@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Pixelify+Sans:wght@400..700&display=swap');

header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem 0.6rem 2rem;
  background-color: rgba(245, 245, 245, 0.80);
}

h1 {
  font-family: "Pixelify Sans", serif;
  font-size: 2.8rem;
  color: #D98324;
}

.scoreBoard {
  text-align: end;
  gap: 6px;
  font-family: "Outfit", serif;
}

main {
  padding-top: 0.4rem;
  font-family: "Outfit", serif;
}

.load {
  text-align: center;
  font-size: 2.4rem;
}

.checkbox {
  text-align: end;
  padding: 0.6rem 2rem;
}

.poke {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 4px;
  padding: 0.6rem 2rem 2rem 2rem;
}

img {
  width: 120px;
  padding: 1rem;
}

figure {
  position: relative;
  height: 120px;
}

figcaption {
  position: absolute;
  bottom: 6px;
  left: 0;
  right: 0;
  font-family: "Outfit", serif;
}

footer {
  padding: 2rem;
  font-family: "Outfit", serif;
  background-color: rgba(245, 245, 245, 0.80);
}

h2 {
  padding-bottom: 1.2rem;
}

ol {
  list-style-position: inside;
}

ul {
  padding-left: 18px;
}

li {
  padding-bottom: 4px;
}