header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem 0.6rem 2rem;
}

.scoreBoard {
  text-align: end;
  gap: 6px;
}

main {
  padding-top: 0.4rem;
}

.checkbox {
  text-align: end;
  padding: 0.6rem 2rem;
}

.poke {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2px;
  padding: 0.6rem 2rem 2rem 2rem;
}

img {
  width: 120px;
  padding: 1rem;
}

figure {
  position: relative;
  height: 120px;
}

figcaption {
  position: absolute;
  bottom: 6px;
  left: 0;
  right: 0;
}

footer {
  padding: 2rem;
}

h2 {
  padding-bottom: 1.2rem;
}

ol {
  list-style-position: inside;
}

ul {
  padding-left: 18px;
}

li {
  padding-bottom: 4px;
}