* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./assets/vecteezy_pattern-pokeball-red-and-white-ball-of-the-popular-cartoon_24649105.jpg');
  background-size: cover;
}